body {
    background-color: #f0f0f0;
}

a:hover, a:focus, a.active {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    font: normal normal normal 1em/1em Arial, Helvetica, sans-serif;
    padding: 0;
    width: 1020px;
    z-index: 1;
}

/* Navigation */
#nav {
    margin: 40px 0 25px 0;
    position: relative;
}

    #nav .logo {
        margin: -35px 0 0 20px;
    }

    #nav .container {
        background: url(../img/nav_bg.png) repeat-x 0 0;
    }

    #nav nav {
        padding-left: 170px;
    }

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a.active {
    background: none;
}

#nav nav ul.menu > li {
    float: left;
    display: block;
    position: relative;
}

    #nav nav ul.menu > li > a {
        margin-right: 30px;
        padding: 10px 20px 11px 30px;
        position: relative;
        text-decoration: none;
    }

    #nav nav ul.menu > li > a {
        color: #fff;
        font-size: 0.95em;
    }

        #nav nav ul.menu > li > a.sort-btn:before, #nav nav ul.menu > li > a.sort-btn:after,
        #nav nav ul.menu > li > a.cate-btn:before, #nav nav ul.menu > li > a.cate-btn:after,
        #nav nav ul.menu > li > a.post-btn:before, #nav nav ul.menu > li > a.post-btn:after,
        #nav nav ul.menu > li > a.personal-btn:after {
            background: url(../img/icons.png) no-repeat;
            content: " ";
            position: absolute;
        }

        #nav nav ul.menu > li > a.sort-btn:before,
        #nav nav ul.menu > li > a.cate-btn:before,
        #nav nav ul.menu > li > a.post-btn:before {
            left: 0;
            top: 7px;
        }

        #nav nav ul.menu > li > a.sort-btn:after,
        #nav nav ul.menu > li > a.cate-btn:after,
        #nav nav ul.menu > li > a.personal-btn:after {
            right: 0;
            top: 7px;
        }

        #nav nav ul.menu > li > a.sort-btn:before {
            background-position: -42px -40px;
            height: 22px;
            width: 22px;
        }

        #nav nav ul.menu > li > a.sort-btn:focus:before, #nav nav ul.menu > li > a.sort-btn:hover:before, #nav nav ul.menu > li > a.sort-btn.active:before {
            background-position: -42px -62px;
        }

        #nav nav ul.menu > li > a.sort-btn:after,
        #nav nav ul.menu > li > a.cate-btn:after,
        #nav nav ul.menu > li > a.personal-btn:after {
            background-position: 0 -32px;
            height: 14px;
            right: 0;
            top: 15px;
            width: 16px;
        }

        #nav nav ul.menu > li > a.sort-btn:focus:after, #nav nav ul.menu > li > a.sort-btn:hover:after, #nav nav ul.menu > li > a.sort-btn.active:after,
        #nav nav ul.menu > li > a.cate-btn:focus:after, #nav nav ul.menu > li > a.cate-btn:hover:after, #nav nav ul.menu > li > a.cate-btn.active:after,
        #nav nav ul.menu > li > a.personal-btn:focus:after, #nav nav ul.menu > li > a.personal-btn:hover:after, #nav nav ul.menu > li > a.personal-btn.active:after {
            background-position: 0 -48px;
        }

        #nav nav ul.menu > li > a.cate-btn:before {
            background-position: -16px -40px;
            content: " ";
            height: 26px;
            width: 26px;
        }

        #nav nav ul.menu > li > a.cate-btn:focus:before, #nav nav ul.menu > li > a.cate-btn:hover:before, #nav nav ul.menu > li > a.cate-btn.active:before {
            background-position: -16px -66px;
        }

        #nav nav ul.menu > li > a.post-btn {
            padding-right: 5px;
        }

            #nav nav ul.menu > li > a.post-btn:before {
                background-position: -76px 1px;
                height: 26px;
                width: 24px;
            }

            #nav nav ul.menu > li > a.post-btn:focus:before, #nav nav ul.menu > li > a.post-btn:hover:before, #nav nav ul.menu > li > a.post-btn.active:before {
                background-position: -76px -24px;
            }

        #nav nav ul.menu > li > a.personal-btn {
            margin: 0;
            padding-left: 20px;
        }

        #nav nav ul.menu > li > a.logout-link {
            margin: 0;
            padding-right: 0;
        }

    #nav nav ul.menu > li.search .btn {
        border: none;
        height: 20px;
        font-size: 12px;
        margin-top: 10px;
        padding: 0 10px;
        position: relative;
        width: 80px;
        z-index: 3;
    }

    #nav nav ul.menu > li.search .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        list-style: none;
        background-color: white;
        border: 1px solid #CCC;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }

        #nav nav ul.menu > li.search .ui-autocomplete > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.428571429;
            color: #333;
            white-space: nowrap;
        }

    #nav nav ul.menu > li.search .btn:hover, #nav nav ul.menu > li.search .btn:focus {
        background-color: #fff;
    }

    #nav nav ul.menu > li.search .ui-helper-hidden-accessible {
        display: none;
    }

    #nav nav ul.menu > li input.search-field {
        background-color: #fff;
        border: none;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        -moz-border-radius: 7px;
        font-size: 0.9em;
        height: 20px;
        line-height: 20px;
        margin: 10px 0 0 -10px;
        padding: 0 12px;
        position: relative;
        width: 150px;
        z-index: 2;
    }

    #nav nav ul.menu > li input.submit-btn {
        background: url(../img/icons.png) no-repeat -64px -52px;
        border: none;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        -moz-border-radius: 7px;
        margin: 10px 0 0 -11px;
        height: 20px;
        position: relative;
        width: 29px;
        z-index: 4;
    }

        #nav nav ul.menu > li input.search-field:focus, #nav nav ul.menu > li input.submit-btn:focus {
            outline: none;
        }

#nav nav ul.menu ul.dropdown-menu {
    display: none;
    top: 35px;
}

#nav nav ul.menu a.cate-btn + ul.dropdown-menu {
    margin: 0;
    padding: 0;
    width: 362px;
}

    #nav nav ul.menu a.cate-btn + ul.dropdown-menu li {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 120px;
    }

    #nav nav ul.menu a.cate-btn + ul.dropdown-menu > li > a {
        padding: 5px;
        text-indent: 5px;
    }

#nav nav ul.menu li:hover > ul.dropdown-menu:not(.search-by-list),
#nav nav ul.menu li:focus > ul.dropdown-menu:not(.search-by-list),
#nav nav ul.menu li.active > ul.dropdown-menu:not(.search-by-list),
#nav nav ul.menu li.search .btn:hover + ul.dropdown-menu,
#nav nav ul.menu li.search .btn:hover + ul.dropdown-menu,
#nav nav ul.menu li.search .btn:hover + ul.dropdown-menu {
    display: block;
}

#nav nav ul.menu > li > a.login-link, #nav nav ul.menu > li > a.register-link {
    display: none;
}

/* Main */
#main {
    padding: 0 20px 35px 20px;
}

    #main > .row {
        margin: 15px 0 0 0;
    }

.container .box {
    background-color: #fff;
    border: 1px solid #aeaeae;
    padding: 10px;
    position: relative;
}

    .container .box.title-bg {
        padding-top: 50px;
    }

    .container .box.borderRounded {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -moz-border-radius: 10px;
    }

    /* white box, round border, title */
    .container .box h2.box-title, .container .about-poster h4.box-title {
        background: url(../img/bg_title_box.png) repeat-x 0 0;
        color: #fff;
        left: 0;
        height: 35px;
        font: normal normal normal 1.25em/35px Arial, Helvetica, sans-serif;
        margin-top: 10px;
        position: absolute;
        text-indent: 5px;
        top: 0;
        width: 100%;
    }

#main .col-lg-8 .box h2.box-title, #main .list-content h2.box-title, .container .about-poster h4.box-title {
    width: 50%;
}

#main .box h2.box-title:before, #main .box h2.box-title:not(.borderRightNone):after,
#main .about-poster h4.box-title:before {
    background: url(../img/bg_title_box_leftright.png) no-repeat 0 0;
    content: "";
    height: 35px;
    position: absolute;
    top: 0;
    width: 8px;
}

#main .box h2.box-title:before,
#main .about-poster h4.box-title:before {
    background-position: 0 -35px;
    left: -7px;
}

#main .box h2.box-title:after {
    right: -8px;
}

#main .box h2.box-title a.readmore {
    float: right;
    color: #fff;
    margin-right: 5px;
    font-size: 0.7em;
}

#main .box ul.list {
    list-style: none;
    padding: 0;
    padding-right: 20px;
    width: 100%;
}

    #main .box ul.list li {
        height: 45px;
        margin: 0 0 10px 0;
        position: relative;
        width: 100%;
    }

        #main .box ul.list li:after {
            background: url(../img/icons.png) no-repeat 0 0;
            content: "";
            display: block;
            height: 16px;
            position: absolute;
            right: -20px;
            top: 20%;
            width: 10px;
        }

        #main .box ul.list li:hover:after, #main .box ul.list li:focus:after, #main .box ul.list li.active:after {
            background-position: 0 -16px;
        }

        #main .box ul.list li a.manga-link {
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            overflow: hidden;
            text-indent: 150%;
            top: 0;
            white-space: nowrap;
            width: 100%;
        }

        #main .box ul.list li img.manga-img {
            border: 1px solid #989898;
            float: left;
            height: 45px;
            margin-right: 5px;
            width: 40px;
        }

        #main .box ul.list li h3.manga-name {
            font-size: 0.85em;
            font-weight: bolder;
            margin: 0 0 5px 0;
            padding: 0;
        }

        #main .box ul.list li:hover h3.manga-name, #main .box ul.list li:focus h3.manga-name, #main .box ul.list li:active h3.manga-name {
            color: #1482d4;
        }

        #main .box ul.list li p.manga-chapter {
            font-size: 0.75em;
            margin: 5px 0 0 0;
            padding: 0;
        }

        #main .box ul.list li p.manga-viewCount {
            font-size: 0.7em;
            padding: 0;
        }

            #main .box ul.list li p.manga-viewCount:after {
                content: " lượt xem";
                padding: 0;
            }

/* Truyen ngan */

#main .manga-intro {
    overflow: hidden;
    padding-right: 30px;
}

#main h2.title, #main .list-content h1.title, #main .comment-face h4.title, #main .comment-webtruyen h4.title {
    color: #008bcf;
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
}

#main .manga-intro img.manga-intro-img {
    float: left;
    margin-right: 10px;
}

#main .manga-intro h5.manga-intro-name {
    font-size: 1.5em;
    font-weight: bolder;
    padding-right: 65px;
    position: relative;
}

#main .manga-intro .manga-intro-name a.readmore {
    color: #383838;
    font-size: 0.5em;
    padding-right: 15px;
    position: absolute;
    right: 0;
    top: 5px;
    white-space: nowrap;
}

    #main .manga-intro .manga-intro-name a.readmore:after {
        background: url(../img/icons.png) no-repeat 0 0;
        content: "";
        display: block;
        height: 16px;
        position: absolute;
        right: 0;
        top: -2px;
        width: 10px;
    }

    #main .manga-intro .manga-intro-name a.readmore:hover:after, #main .manga-intro .manga-intro-name a.readmore:focus:after {
        background-position: 0 -16px;
    }

#main .manga-intro p.manga-intro-brief {
    font-size: 1em;
    line-height: 1.25em;
    text-align: justify;
}

#main .manga-intro > div:nth-child(2) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

#main .manga-intro > div:before, #main .manga-intro > div:after {
    content: "";
    display: table;
}

#main .manga-intro > div:after {
    clear: both;
}

#main .advert-right {
    height: 250px;
    margin-bottom: 10px;
    width: 300px;
}

/* footer */
#main .footer .box {
    padding: 20px 15px;
}

#main .tags p {
    font-size: 1.2em;
    line-height: 1.2em;
}

#main .contact-col {
    border-right: 1px solid #a2a2a2;
}

    #main .contact-col a.contact-email {
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }

        #main .contact-col a.contact-email:before {
            content: "Email: ";
        }
    #main .contact-col a.contact-email-icon {
        background: url(../img/icons.png) no-repeat 0 -95px;
        display: block;
        height: 20px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        width: 20px;
    }
    
#main a.links {
    background: url(../img/icons.png) no-repeat;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    overflow: hidden;
    text-indent: 120%;
    width: 20px;
    white-space: nowrap;
}

    #main a.links.face {
        background-position: -16px 0;
    }

    #main a.links.twitter {
        background-position: -36px 0;
    }

    #main a.links.google {
        background-position: -56px 0;
    }

    #main a.links.linkedIn {
        background-position: -56px -20px;
    }

    #main a.links.other1 {
        background-position: -36px -20px;
    }

    #main a.links.other2 {
        background-position: -16px -20px;
    }

#main .footer .message h3 {
    color: #069bdf;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

#main .footer .message p {
    font-size: 1.1em;
    line-height: 1.1em;
}

/* POPUP REGISTER */

.overlay {
    background-color: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

        .overlay:target ~ .popup {
            opacity: 0;
            visibility: hidden;
        }

        .overlay:target + .popup {
            opacity: 1;
            visibility: visible;
        }

.popup {
    background-color: #fff;
    border-radius: 5px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 3;
}

    .popup h3.title {
        background: url(../img/bg_title_box.png) repeat-x 0 0;
        color: #fff;
        font-size: 1.4em;
        height: 40px;
        line-height: 40px;
        margin: 20px 0 10px 0;
        text-indent: 10px;
    }

    .popup .btn {
        height: 30px;
    }

    .popup table {
        font-size: 1em;
    }

    .popup table {
        border-collapse: separate;
        margin: 10px 20px;
    }

        .popup table td {
            padding: 5px;
        }

    .popup .register-btn {
        margin-left: 10px;
    }

    .popup a {
        color: #000;
        text-decoration: none;
    }

        .popup a.close {
            background: url(../img/icons.png) no-repeat -64px -72px;
            height: 20px;
            opacity: 0.8;
            position: absolute;
            right: 0;
            top: 30px;
            width: 24px;
        }

            .popup a.close:hover {
                opacity: 1;
            }

.popup_login {
    height: 280px;
    margin: -140px 0 0 -120px;
    opacity: 0;
    width: 240px;
    visibility: hidden;
}

    .popup_login .login_by_face {
        background: url(../img/icons.png) no-repeat 0 -183px;
        height: 36px;
        display: block;
        overflow: hidden;
        text-indent: 100%;
        width: 190px;
        white-space: nowrap;
    }

    .popup_login #login_remember + span, .popup_login #login_remember ~ a {
        font-size: 0.8em;
        line-height: 1.8em;
    }

    .popup_login #login_remember ~ a {
        font-weight: bold;
    }

    .popup_login #login_remember {
        margin-right: 5px;
    }

.popup_register {
    margin: -235px 0 0 -185px;
    height: 470;
    opacity: 0;
    width: 370;
    visibility: hidden;
}

    .popup_register #code_confirm, .popup_register .code-confirm {
        height: 34px;
        width: 45%;
    }

/* List page */

#main .aside-right .voted-box {
    margin: 0 0 40px 5px;
}

#main ul.sub-nav {
    margin-bottom: 10px;
    padding: 0;
}

    #main ul.sub-nav li {
        display: inline-block;
        margin: 0 0 0 5px;
        white-space: nowrap;
    }

        #main ul.sub-nav li:first-child {
            margin: 0;
        }

        #main ul.sub-nav li a {
            color: #777;
            font-size: 0.9em;
            padding: 0 15px 0 0;
            position: relative;
        }

            #main ul.sub-nav li a:after {
                background: url(../img/icons.png) no-repeat 0 -62px;
                content: "";
                height: 6px;
                position: absolute;
                right: 0;
                top: 5px;
                width: 5px;
            }

        #main ul.sub-nav li:last-child a:after {
            background: none;
        }

#main .list-content .box {
    padding: 10px 0;
}

#main .list-content ul.sub-nav, #main .list-content p.intro {
    margin: 0 10px;
}

#main .list-content ul.sub-nav {
    padding-top: 0;
}

#main .list-content h2.title, #main .list-content h1.title {
    margin: 10px;
}

#main .list-content p.intro {
    line-height: 1.2em;
    font-size: 1.1em;
    padding: 0 0 10px 0;
}

#main .list-content .list-fiction .table {
    margin: 0;
}

    #main .list-content .list-fiction .table tbody > tr > td {
        border-top: none;
    }

#main .list-content .list-fiction .background:nth-child(odd) {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    padding: 5px 15px;
}

#main .list-content .list-fiction .background:nth-child(even) {
    padding: 6px 16px;
}

#main .list-content .row.page-list {
    background: none;
    border: none;
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 5px 0 0 0;
}

#main .list-content img.thumbnail {
    border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    border: 1px solid #989898;
    float: left;
    margin-right: 7px;
}

#main .list-content h3.title {
    margin: 0 0 5px 0;
    padding: 0;
}

    #main .list-content h3.title a {
        color: #000;
        font-size: 0.6em;
        font-weight: bold;
    }

        #main .list-content h3.title a:hover, #main .list-content h3.title a:focus {
            color: #1482d4;
        }

#main .list-content p {
    font-size: 0.75em;
}

#main .list-content .page-list ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

    #main .list-content .page-list ul li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

        #main .list-content .page-list ul li a {
            color: #000;
            font-size: 0.85em;
            font-weight: bold;
        }

            #main .list-content .page-list ul li a:not(.last-page):not(.first-page) {
                display: block;
                height: 15px;
                padding: 0 2px 2px 0;
                text-align: center;
                text-indent: 1px;
                width: 15px;
            }

            #main .list-content .page-list ul li a.current-page:not(.last-page):not(.first-page),
            #main .list-content .page-list ul li a:hover:not(.last-page):not(.first-page),
            #main .list-content .page-list ul li a:focus:not(.last-page):not(.first-page) {
                background: url(../img/icons.png) no-repeat 0 -68px;
                color: #fff;
            }

            #main .list-content .page-list ul li a.first-page:after {
                content: ">>";
                padding: 0 5px;
            }

            #main .list-content .page-list ul li a.last-page:before {
                content: "<<";
                padding: 0 5px;
            }

#main .list-content .page-list .page-num {
    color: #999;
    margin-top: 5px;
    text-align: center;
}

    #main .list-content .page-list .page-num a.num {
        background: #28a0df;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        display: inline-block;
        padding: 4px 10px;
    }

    #main .list-content .page-list .page-num a.btn-page {
        transform: rotate(-85deg);
        -o-transform: rotate(-85deg);
        -ms-transform: rotate(-85deg);
        -moz-transform: rotate(-85deg);
        -webkit-transform: rotate(-85deg);
        background: url(../img/icons.png) no-repeat -162px -243px;
        display: inline-block;
        height: 28px;
        vertical-align: middle;
        width: 28px;
    }

/* detail page */

#main .box.fiction-content {
    padding: 15px;
}

#main .fiction-content h2.title,
#main .fiction-content ul.sub-nav {
    margin-left: 0;
}

#main .fiction-content .fiction-intro h2.title {
    font-size: 1.5em;
}

#main .fiction-content .fiction-intro img.fiction-img {
    margin: 0 20px 10px 0;
}


#main .fiction-content .fiction-intro h5.title,
#main .fiction-content .fiction-chapters-recent h5.title,
#main .fiction-content h5.fiction-chapter-list-title {
    color: #007ec8;
    font-size: 1.3em;
    margin: 10px 0;
    text-transform: uppercase;
}

#main .fiction-content .fiction-intro p {
    font-size: 1em;
    margin-bottom: 5px;
}

#main .fiction-content .fiction-intro span.highlight {
    color: #2973c5;
    font-weight: bold;
}

#main .fiction-content .fiction-intro ul.star-rate {
    direction: rtl;
    padding-right: 155px;
}

    #main .fiction-content .fiction-intro ul.star-rate li {
        background: url(../img/icons.png) no-repeat -103px -40px;
        display: inline-block;
        height: 24px;
        width: 24px;
    }

        #main .fiction-content .fiction-intro ul.star-rate li:hover,
        #main .fiction-content .fiction-intro ul.star-rate li:hover ~ li,
        #main .fiction-content .fiction-intro ul.star-rate li.selected,
        #main .fiction-content .fiction-intro ul.star-rate li.selected ~ li {
            background-position: -103px -16px;
        }

#main .fiction-content .fiction-brief h5.title {
    background-color: #1d8ecb;
    color: #fff;
    font-size: 1.3em;
    height: 32px;
    line-height: 32px;
    text-indent: 10px;
    text-transform: none;
}

#main .fiction-content .fiction-brief p {
    line-height: 1.2em;
}

    #main .fiction-content .fiction-brief p.fiction-readmore {
        text-align: center;
    }

#main .fiction-content .fiction-brief a.fiction-readmore-button {
    color: #0062b4;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 15px;
    position: relative;
}

    #main .fiction-content .fiction-brief a.fiction-readmore-button:before {
        background: url(../img/icons.png) no-repeat -162px 0;
        content: "";
        display: block;
        height: 11px;
        left: 0;
        position: absolute;
        top: 2px;
        width: 11px;
    }

#main .fiction-content ul.fiction-social-buttons {
    border: 1px solid #e3e3e3;
    border-left: none;
    border-right: none;
    height: 38px;
    line-height: 38px;
    margin-top: 15px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#main .fiction-content .fiction-social-buttons li {
    display: inline-block;
}

#main .fiction-content .fiction-chapters-recent h5.title {
    color: #10a7e3;
    padding-top: 2px;
    position: relative;
    text-indent: 35px;
    text-transform: none;
}

    #main .fiction-content .fiction-chapters-recent h5.title:before {
        background: url(../img/icons.png) no-repeat -134px 0;
        content: "";
        height: 27px;
        left: 0;
        position: absolute;
        top: 0;
        width: 27px;
    }

#main .fiction-content .fiction-chapters-recent-list {
    text-align: left;
    padding: 0;
}

#main .fiction-content .fiction-chapters-recent li {
    margin: 5px 0;
    padding: 3px 0 0 30px;
    position: relative;
}

    #main .fiction-content .fiction-chapters-recent li:before {
        background: url(../img/icons.png) no-repeat -100px -66px;
        content: "";
        height: 21px;
        left: 3px;
        position: absolute;
        top: 0;
        width: 21px;
    }

    #main .fiction-content .fiction-chapters-recent li a {
        color: #000;
    }

    #main .fiction-content .fiction-chapters-recent li span.bold {
        font-weight: bold;
    }

        #main .fiction-content .fiction-chapters-recent li span.bold:after {
            content: ": ";
        }

    #main .fiction-content .fiction-chapters-recent li span.chapter-date-update {
        color: #b4b6b7;
        font-size: 0.7em;
        font-style: italic;
    }

#main .fiction-content h5.fiction-chapter-list-title {
    padding-left: 30px;
    position: relative;
    text-transform: none;
}

    #main .fiction-content h5.fiction-chapter-list-title:before {
        background: url(../img/icons.png) no-repeat right top;
        content: "";
        height: 16px;
        left: 0;
        position: absolute;
        top: 0;
        width: 16px;
    }

#main .fiction-chapter-list .table {
    font-size: 0.85em;
}

    #main .fiction-chapter-list .table td:first-child, #main .fiction-chapter-list .table th:first-child {
        text-align: center;
        width: 9%;
    }

    #main .fiction-chapter-list .table td:nth-child(2), #main .fiction-chapter-list .table th:nth-child(2) {
        width: 21%;
    }

    #main .fiction-chapter-list .table td:nth-child(3), #main .fiction-chapter-list .table th:nth-child(3) {
        width: 55%;
    }

    #main .fiction-chapter-list .table td:last-child, #main .fiction-chapter-list .table th:last-child {
        text-align: center;
        width: 15%;
    }

.table thead > tr > th, .table tbody > tr > th,
.table tfoot > tr > th, .table thead > tr > td,
.table tbody > tr > td, .table tfoot > tr > td {
    border-top: 2px solid #dffaff;
}

#main .fiction-chapter-list .table thead > tr:first-child {
    background-color: #0082c8;
}

#main .fiction-chapter-list .table thead > tr > th {
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}

#main .fiction-chapter-list .table tbody > tr > td {
    color: #686b56;
    font-weight: bold;
    padding: 4px;
}

    #main .fiction-chapter-list .table tbody > tr > td a {
        color: #224560;
    }

#main .fiction-chapter-list .table tbody > tr:nth-child(even) {
    background-color: #cbf0ff;
}

#main .fiction-chapter-list .table tbody > tr:nth-child(odd) {
    background-color: #7dd7fc;
}

#main .fiction-content .border-dotted-bottom {
    border-bottom: 2px dotted #90d5f2;
    padding-bottom: 10px;
}

/* Detail */
#main .fiction-content.box, #main .about-poster.box {
    margin: 0;
    position: relative;
}

    #main .fiction-content.box h2.box-title, #main .about-poster.box h2.box-title {
        width: 50%;
    }

    #main .fiction-content.box ul.zoom-nav {
        position: absolute;
        right: 35px;
        top: 130px;
    }

        #main .fiction-content.box ul.zoom-nav li {
            display: inline-block;
        }

            #main .fiction-content.box ul.zoom-nav li a {
                background: url(../img/icons.png) no-repeat;
                height: 24px;
                display: block;
                width: 24px;
            }

                #main .fiction-content.box ul.zoom-nav li a.zoom-in {
                    background-position: -166px -17px;
                }

                #main .fiction-content.box ul.zoom-nav li a.zoom-out {
                    background-position: -166px -41px;
                }

#main .fiction-content ul.sub-nav {
    border-bottom: 1px solid #979797;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-align: left;
}

#main .fiction-content h1.fiction-title, #main .fiction-content h2.fiction-author, #main .fiction-content h3.fiction-chapter {
    color: #008acf;
    font-weight: bold;
}

#main .fiction-content h1.fiction-title {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

#main .fiction-content h2.fiction-author {
    font-size: 0.85em;
    margin-top: 5px;
    text-align: center;
}

#main .fiction-content h3.fiction-chapter {
    font-size: 1.35em;
    text-indent: 15px;
}

#main .fiction-content .fiction-main-content {
    text-align: justify;
    padding: 0 15px;
}

#main .fiction-content .fiction-content-advert, #main .fiction-content-advert img.img-responsive {
    margin: 0 auto;
    text-align: center;
}

#main .fiction-content ul {
    padding: 10px 0;
    text-align: center;
}

#main .fiction-content .fiction-content-nav li {
    background: url(../img/icons.png) no-repeat 0 -219px;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    margin: 0 10%;
    width: 110px;
}

    #main .fiction-content .fiction-content-nav li a {
        color: #fff;
    }

#main .fiction-content .ficiton-content-social-buttons li {
    display: inline-block;
}

#main .fiction-content .ficiton-content-social-buttons a.wishlist-btn {
    background: url(../img/icons.png) no-repeat -110px -219px;
    color: #fff;
    font-size: 0.85em;
    height: 21px;
    line-height: 18px;
    display: block;
    padding-left: 18px;
    position: relative;
    width: 79px;
}

    #main .fiction-content .ficiton-content-social-buttons a.wishlist-btn:before {
        background: url(../img/icons.png) no-repeat -136px -28px;
        content: "";
        height: 14px;
        left: 3px;
        position: absolute;
        top: 1px;
        width: 17px;
    }

#main h4.fiction-content-endline {
    color: #008acf;
    font-weight: bold;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

    #main h4.fiction-content-endline:before,
    #main h4.fiction-content-endline:after {
        background-color: #008acf;
        height: 1px;
        content: "";
        position: absolute;
        top: 9px;
        width: 17%;
    }

    #main h4.fiction-content-endline:before {
        left: 0;
    }

    #main h4.fiction-content-endline:after {
        right: 0;
    }

#main .fiction-content ul.fiction-content-tag {
    padding-left: 30px;
    text-align: left;
}

#main .fiction-content-tag:before {
    content: "Tag: ";
}

#main .fiction-content-tag li {
    display: inline-block;
}

    #main .fiction-content-tag li:after {
        content: ", ";
    }

    #main .fiction-content-tag li:last-child:after {
        content: "";
    }

    #main .fiction-content-tag li a {
        color: #000;
    }

/* page fiction content - poster information */

#main .about-poster.box h2.box-title {
    width: 30%;
}

#main .about-poster img.thumbnail {
    margin: 0 5px 15px 0;
}

#main .about-poster h5.poster-name {
    font-size: 1.25em;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
    text-transform: uppercase;
}

#main .about-poster p {
    margin-bottom: 5px;
}

#main .about-poster span.like, #main .about-poster span.follow {
    color: #727272;
    font-size: 0.75em;
}

    #main .about-poster span.follow:after {
        content: " follow";
    }

    #main .about-poster span.like:after {
        content: " like - ";
    }

#main .about-poster a.read-all-post {
    color: #000;
}

    #main .about-poster a.read-all-post:after {
        content: " »";
    }

#main .about-poster-buttons a {
    background: url(../img/icons.png) no-repeat -125px -66px;
    color: #fff;
    height: 21px;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    width: 50px;
}

/* comment box */

.container .about-poster h4.box-title {
    width: 30%;
}

#main div.comment-face div.box h4.title, #main div.comment-webtruyen div.box h4.title {
    font-size: 1.2em;
    margin-top: 0;
}

#main div.comment-face div.box, #main div.comment-webtruyen div.box {
    border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0;
}

#main div.comment-face div.box {
    height: 100%;
}

#main .comment-webtruyen .row {
    border-bottom: 1px solid #bfbfbf;
    margin: 0 0 10px 0;
}

    #main .comment-webtruyen .row:last-child {
        border: none;
        text-align: center;
    }

#main .comment-webtruyen a.show-more-comment {
    background: url(../img/icons.png) no-repeat -162px -240px;
    display: inline-block;
    height: 28px;
    width: 28px;
}

#main .comment-webtruyen .col-lg-4,
#main .comment-webtruyen .col-md-4,
#main .comment-webtruyen .col-sm-4 {
    width: 33.33333333%;
}

#main .comment-webtruyen .col-lg-8,
#main .comment-webtruyen .col-md-8,
#main .comment-webtruyen .col-sm-8 {
    width: 66.66666666%;
}

#main div.comment-face div.box h2.box-title, #main div.comment-webtruyen div.box h2.box-title {
    width: 50%;
}

#main .comment-webtruyen img.img-responsive {
    border: none;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    max-width: 65px;
    padding: 0;
}

#main .comment-webtruyen textarea.comment-box {
    color: #000;
    height: 65px;
    margin-bottom: 10px;
    width: 100%;
}

    #main .comment-webtruyen textarea.comment-box + p {
        padding-right: 15px;
        text-align: right;
    }

#main .comment-webtruyen button {
    background: url(../img/icons.png) no-repeat 0 -244px;
    font-size: 0.85em;
    border: none;
    display: inline-block;
    padding: 0;
}

    #main .comment-webtruyen button.btn-post {
        background-position: -1px -242px;
        color: #276a85;
        height: 28px;
        line-height: 20px;
        width: 74px;
    }

    #main .comment-webtruyen button.btn-del {
        background-position: -75px -244px;
        color: #fff;
        height: 24px;
        line-height: 20px;
        width: 72px;
    }

#main .comment-webtruyen .comments-content, #main .comment-webtruyen p {
    font-size: 0.9em;
    line-height: 1em;
    overflow: hidden;
    margin-bottom: 5px;
    padding-left: 10px;
}

#main .comment-webtruyen .textLightBlue {
    color: #0085ca;
    font-weight: bold;
}

#main .comment-webtruyen span.name {
}

#main .comment-webtruyen span.date-time {
    font-size: 0.8em;
}

#main .comment-webtruyen .comments-content + p {
    text-align: right;
}

#main .comment-webtruyen a.like-comment, #main .comment-webtruyen a.reply-comment {
    display: inline-block;
    margin: 0 15px;
}

#main div.form_register {
    margin: 0;
}

#main .form_register .form-group {
    margin: 5px 0 0 0;
}

#main .form_register .control-label {
    margin-top: 5px;
    text-align: left;
}

#main .form_register input[type="radio"], #main .form_register input[type="checkbox"] {
    margin: 0 5px 5px 0;
}

#main .form_register h2.box-title {
    width: 30%;
}

#main .form_register .form-control {
    margin: 5px 0;
}

/* Mobiles */
@media screen and (min-width:320px) and (max-width: 765px) {
    .container {
        width: 320px;
    }

    #main {
        padding: 0;
    }

    .navbar-nav {
        margin: 0;
    }

    #nav .container {
        text-align: right;
    }

    #nav nav {
        background-color: #008dd2;
        margin: 0;
        overflow-y: visible;
        padding: 0 15px;
        text-align: left;
        width: 320px;
    }

        #nav nav ul.menu > li {
            width: 100%;
        }

            #nav nav ul.menu > li > a {
                margin-right: 0;
            }

                #nav nav ul.menu > li > a.login-link,
                #nav nav ul.menu > li > a.register-link,
                #nav nav ul.menu > li > a.personal-btn,
                #nav nav ul.menu > li > a.logout-link {
                    padding-left: 0;
                }

            #nav nav ul.menu > li input.search-field {
                width: 200px;
            }

            #nav nav ul.menu > li input.submit-btn {
                margin-left: -15px;
            }

        #nav nav ul.menu a.cate-btn + ul.dropdown-menu {
            width: 250px;
        }

    #main .box {
        margin-bottom: 5px;
        /*width: 280px;*/
    }

    #main .manga-intro .box {
        height: auto;
    }

    #main .col-lg-8 .box h2.box-title {
        width: 90%;
    }

    #main .manga-intro h5.manga-intro-name {
        padding-right: 15px;
    }

    #main .manga-intro .manga-intro-name a.readmore {
        position: relative;
        right: auto;
        top: auto;
    }

    #main .manga-intro img.manga-intro-img {
        margin-right: 5px;
        max-width: 40%;
    }

    #main h4.fiction-content-endline:before,
    #main h4.fiction-content-endline:after {
        display: none;
    }

    /* menu */
    .navbar-toggle {
        float: none;
        margin: 2px 5px 8px 0;
    }

        .navbar-toggle:hover, .navbar-toggle:focus {
            background-color: #ddd;
        }

        .navbar-toggle .icon-bar {
            background-color: #fff;
        }

        .navbar-toggle:before, .navbar-toggle:after {
            display: table;
            content: " ";
        }

        .navbar-toggle:after {
            clear: both;
        }

    .container .about-poster h4.box-title {
        width: 70%;
    }

    #main .fiction-content ul.sub-nav, #main .fiction-content h3.fiction-chapter {
        text-align: center;
    }

    #main .fiction-content.box ul.zoom-nav {
        position: relative;
        top: 0;
        right: 0;
    }

    #main .comment-face {
        margin-bottom: 10px;
    }
}
/* Tablets (≥768px) .col-sm-*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 768px;
        max-width: 768px;
    }

    #nav .logo {
        margin-left: 5px;
        width: 110px;
    }

    #nav nav {
        padding-left: 125px;
    }

    .navbar-nav {
        margin: 0;
    }

    #nav nav ul.menu > li > a {
        margin-right: 0;
    }

    #nav nav ul.menu > li.search input.search-field {
        width: 90px;
    }

    #nav nav ul.menu > li.search .btn {
        margin-left: 5px;
    }

    #nav nav ul.menu > li.search input.submit-btn {
        width: 25px;
    }

    #nav nav ul.menu > li > a.register-link {
        padding: 10px 5px 11px 5px;
    }

    #nav nav ul.menu > li > a.login-link {
        padding: 10px 15px 11px 15px;
    }

    #nav nav ul.menu > li > a.logout-link {
        padding: 10px 0 11px 5px;
    }

    #nav nav ul.menu > li > a.personal-btn {
        padding: 10px 20px 11px 10px;
    }

    #nav nav ul.menu > li > a.cate-btn + ul.dropdown-menu {
        left: 0;
        right: auto;
    }

    #nav nav ul.menu > li > a.personal-btn + ul.dropdown-menu {
        left: auto;
        right: 0;
    }

    #main {
        padding: 0 5px 35px 5px;
    }

        #main .box h2.box-title {
            font-size: 1.1em;
            text-indent: 0;
        }

        #main .form_register h2.box-title {
            text-indent: 10px;
        }

        #main .fiction-content h4.fiction-content-endline:before,
        #main .fiction-content h4.fiction-content-endline:after {
            width: 7%;
        }

        #main .comment-webtruyen .comments-content, #main .comment-webtruyen p {
            padding-left: 20px;
        }

        #main .contact-col a.contact-email {
            font-size: 0.85em;
        }
}

/* Desktops (≥992px) .col-md-*/
@media screen and (min-width: 992px) and (max-width: 1190px) {
    .navbar-nav {
        margin: 0;
    }

    #nav nav ul.menu > li > a {
        margin-right: 20px;
    }

    #main .fiction-content .fiction-intro ul.star-rate {
        padding-right: 120px;
    }

    #main .aside-right .voted-box, #main .advert-right {
        margin-bottom: 30px;
    }

    #main h4.fiction-content-endline::before, #main h4.fiction-content-endline::after {
        width: 15%;
    }
}
